<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/layout}">
<head>
    <title>대시보드</title>
</head>
<body>

<div layout:fragment="content">

    <h1 class="h3 mb-4 text-gray-800">대시보드</h1>

    <div class="card shadow mb-4">
        <div class="card-body">
            <span sec:authentication="principal.name">사용자</span> 님, 환영합니다.
        </div>
    </div>

</div>

</body>
</html>
